body {
    background: #cccccc;
}

h2 {
    color: deeppink;
}

p {
    color: darkgoldenrod;
}
.sectionHeader {
    color: aqua;
}
.mainHeader {
    color: tomato;
}
.diaryHeader {
    color: pink;
}
