body {
    background:#fefefe;
}
.main{
    width: 100%;
    max-width: 700px;
    margin: 14px auto;
}

h2 {
    color: deeppink;
}

p {
    color: #333;
}
.sectionHeader {
    color: #50858B;
}
.mainHeader, .diaryHeader {
    color:#78CAD2;
}

.link {
    color: #FFC914
}
.about{
    
}
.paragraph{
    padding-left: 20px;
    border: #FFC914 solid 3px;

}